@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #1a291e;
	--background-color: #f8f4e3;
	--dark-color: #e9d92e;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #f8f4e3;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}


/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #ffd700;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #ffd700;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
    display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #f8f4e3;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #1a291e;
	border-radius: 2rem;
	background-color: #1a291e;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('img/banner.jpg');
	height: 60rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #1a291e;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}







/* ********************************** */
/*               Contenido               */
/* ********************************** */




.menu {
    display: flex;
    justify-content: center;
    align-items: center; /* Opcional, solo si quieres centrar verticalmente */
    flex-wrap: wrap; /* Para que los elementos se ajusten en varias líneas si es necesario */
    
}





.Inicio_menu{
    margin-top: 2rem;
    text-align: center;
}

.Inicio_menu h1 {
    font-family: 'Lobster', ;
    color: #1a291e;
    font-size: 6.5vh;
}




.titulo_menu{
    text-align: center;
    font-size: 1.5rem;
}



.contenido_card{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



.menu-card {
    padding: 4vh;
    text-align: center;
    background-color: white;
    position: relative; /* Necesario para posicionar ::after */
    overflow: hidden; /* Oculta contenido que sobresalga */
    border-radius: 15px; /* Bordes redondeados para estilo */
    transition: transform 0.3s ease; /* Suaviza el efecto al pasar el mouse */
    cursor: pointer;
    width: 35vh; /* Define un ancho fijo para evitar que se deforme */
    height: 40vh; /* Altura fija para uniformidad */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.menu-card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más grande para resaltar */
}

.menu-card img {
    width: 100%; /* Imagen ocupa el ancho completo del contenedor */
    height: auto; /* Ocupa 70% de la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    transition: transform 0.3s ease; /* Suaviza el movimiento */
}

.menu-card:hover img {
    transform: scale(1.1); /* Amplía ligeramente la imagen */
}

.menu-card h2 {
    margin-top: 1rem;
    font-size: 2vh;
    color: #444444;
}

.menu-card::after {
    content: "Ver más"; /* Texto adicional */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    color: white;
    font-size: 2vh;
    text-align: center;
    padding: 1vh 0;
    opacity: 0; /* Oculto por defecto */
    transform: translateY(100%); /* Posición inicial fuera del contenedor */
    transition: all 0.3s ease; /* Suaviza la entrada */
}

.menu-card:hover::after {
    opacity: 1; /* Muestra el texto */
    transform: translateY(0); /* Posiciona el texto dentro del contenedor */
}

@media (max-width: 768px) {
    .contenido_card {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center; /* Centra las tarjetas horizontalmente */
    }

    .menu-card {
        width: 80vw; /* Ajusta el ancho para pantallas más pequeñas */
        height: auto; /* Permite que la altura se ajuste automáticamente */
        padding: 8vh; /* Reduce el padding */
        margin-bottom: 2rem; /* Añade espacio entre las tarjetas */
    }

	.menu-card h2 {
		font-size: 3vh; /* Ajusta el tamaño del texto */
	}

    .menu-card img {
        height: 100%; /* Ajusta la altura automáticamente */
		max-width: 300px;
	}
}

@media (max-width: 480px) {
    .menu-card {
        width: 90vw; /* Ajusta el ancho para pantallas muy pequeñas */
        padding: 5vh; /* Reduce aún más el padding */
    }

    .menu-card img {
        width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
        max-width: 150px; /* Establece un ancho máximo para la imagen */
        height: auto; /* Ajusta la altura automáticamente */
    }
}