/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-bg-color: #f8f4e3;
    --main-text-color: #333;
    --secondary-bg-color: #1a291e;
    --highlight-color: #ffd700;
    --button-hover-color: #0d5726;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

/* Header */
.header {
    height: auto;
    background-color: var(--secondary-bg-color);
    align-items: center;
    width: 75%;
    padding: 1rem 2rem;
    color: white;
    border-radius: 60px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--highlight-color);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 7rem;
}

.nav-links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--highlight-color);
    text-decoration: underline;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 2rem;
    background-color: var(--main-bg-color);
}

.hero-content h1 {
    font-family: 'Lobster', cursive;
    font-size: 9.5rem;
    color: #1a291e;
}

.svg-peque {
    width: auto;
    height: 20px;
}

.hero-content p {
    font-size: 150%;
    color: var(--secondary-bg-color);
}

.hero-content img {
    width: 45%;
    height: auto;
}

.portada_titulo {
    z-index: 2;
}

.portada_imagen {
    position: absolute;
    top: 26%;
    left: 22%;
    z-index: 1;
}

.portada_texto {
    position: relative;
    top: 19rem;
    margin-bottom: 20rem;
}

/* Menu Section */
.menu-section {
    background-color: var(--secondary-bg-color);
    padding: 2rem;
    text-align: center;
}

.menu-section h2 {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 4rem;
    color: var(--main-bg-color);
}

.menu-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2.5rem;
}

.menu-card {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.menu-card img {
    width: 100%;
    border-radius: 8px;
}

.menu-card h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--button-hover-color);
}

.menu-card p {
    font-size: 0.9rem;
    color: #555;
}

.menu-button {
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: var(--secondary-bg-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: var(--button-hover-color);
}

/* Additional Info Section */
.info-section {
    text-align: center;
    padding: 2rem;
}

.info-section h2 {
    font-size: 1.5rem;
    color: var(--button-hover-color);
}

.info-section p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #555;
}

/* Join Team Section */
.join-team {
    padding: 2rem;
    background-color: #e5e0d3;
    text-align: center;
}

.join-team h2 {
    font-size: 1.5rem;
    color: var(--button-hover-color);
}

.join-team p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #555;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        padding: 0.5rem 1rem;
        height: auto;
    }

    .nav-links {
        gap: 1.5rem;
    }

    .hero-content h1 {
        font-size: 6rem;
    }

    .hero-content img {
        width: 70%;
    }

    .menu-card {
        width: 90%;
    }
}
